@model (Chapter chapter, int likes)
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <link type="text/css" rel="stylesheet" href="~/css/chapter-details.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/css/all-fanfics.css" media="all" />

</head>
<div class="row justify-content-md-center">

    <div class="fanfic-block col-md-auto">
        <div class="card" style="width: 48rem;">
            <div class="card-body">
                <form method="post">
                    @if(Model.chapter.ImageUrl != null) {
                        <img class="card-img-top" src="@Model.chapter.ImageUrl" style="margin-bottom:10px;" alt="Card image cap">
                    }
                    <h4 class="card-title">
                        <input type="hidden" value="@Model.chapter.Id" name="chapterId" />
                        @if(User.Identity.IsAuthenticated) {
                            <input type="hidden" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value" name="userId" />
                        }
                        @Localizer["Chapter"] @Model.chapter.Number:
                        @if(User.Identity.IsAuthenticated) {
                            @Model.chapter.Title <span class="like-button">@Model.likes<button type="submit" formaction="AddLike" class="material-icons button-hover">thumb_up</button></span>
                        }
                    </h4>
                </form>
                <div class="card-text" style="text-align:justify">
                    @Model.chapter.Body
                </div>
            </div>
        </div>
        <a asp-controller="Fanfic" asp-action="ChapterNavigate" asp-route-chapterId="@Model.chapter.Id" class="material-icons button-hover navigation-arrow" asp-route-param="Forward">arrow_forward</a>
        <a asp-controller="Fanfic" asp-action="ChapterNavigate" asp-route-chapterId="@Model.chapter.Id" class="material-icons button-hover navigation-arrow" asp-route-param="Back">arrow_back</a>

    </div>
</div>