@model Chapter
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="~/css/all-fanfics.css" />
    <link type="text/css" rel="stylesheet" href="~/css/add-fanfic.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/css/dropzone.min.css" rel="stylesheet">
    @section Scripts{
        <script type="text/javascript">
            Dropzone.options.dropzoneForm = {
                paramName: "file",
                maxFilesize: 20,
                maxFiles: 1,
                acceptedFiles: "image/*",
                clickable: false,
                init: function () {
                    this.on('addedfile', function (file) {
                        if (this.files.length > 1) {
                            this.removeFile(this.files[0]);

                        }
                    });
                },
                success: function (file, response) {
                    document.getElementById("inputId").value = response.fileName;
                },
                dictMaxFilesExceeded: "Custom max files msg",
            };
        </script>
        <script src="Scripts/jquery-3.6.0.js"></script>
        <script src="Scripts/jquery-3.6.0.min.js"></script>
        <script>
                var a = document.getElementById("textarea");
                a.innerHTML = '@Model.Body';
        </script>
    }
</head>
<div class="row justify-content-md-center" style="margin-top:40px">

    <div class="fanfic-block col-md-auto">
        <div style="width:768px">
            @using(Html.BeginForm("UploadFile", "Fanfic",
                    FormMethod.Post,
                    new {
                        @class = "dropzone",
                        id = "dropzone-form",

                    })) {
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            }
        </div>
        <script src="~/js/dropzone.min.js"></script>
        <form method="post" style="width:768px">
            <input type="hidden" asp-for="LocalUrl" id="inputId" value="@ViewBag.LocalUrl" />
            <div class="form-group">
                <h5 class="input-text">@Localizer["Title"]</h5>
                <input asp-for="Title" value="@Model.Title" class="form-control" />
            </div>
            <div class="form-group">
                <h5 class="input-text">@Localizer["Body"]</h5>
                <textarea id="textarea" asp-for="Body" value="@Model.Body" class="form-control chapter-textarea"></textarea>
            </div>
            <input asp-for="Fanfic_Id" value="@Model.Fanfic_Id" type="hidden" />
            <input asp-for="Number" value="@Model.Number" type="hidden" />
            <input asp-for="Id" value="@Model.Id" type="hidden" />
            <button type="submit" class="material-icons chapter-add button-hover add-fanfic">add_circle</button>
        </form>
    </div>
</div>
