@using Microsoft.AspNetCore.Identity;
@model (Fanfic fanfic, Fandom fandom, List<Chapter> chapters, List<Comment> comments, List<IdentityUser> users, decimal averageRating)
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <link type="text/css" rel="stylesheet" href="~/css/all-fanfics.css" />

</head>
<div style="margin-top:40px" class="row justify-content-md-center">
    <div class="fanfic-block col-md-auto">
        <div class="card" style="width: 48rem;">
            <div class="card-body">
                <h4 class="card-title">@Model.fanfic.Title<div class="rating">@Model.averageRating<span class="material-icons star-rate">star_rate</span></div></h4>
                <h6 class="card-subtitle mb-2 text-muted">@Model.fandom.Name</h6>
                <div class="card-text">
                    <div class="fanfic-description">@Model.fanfic.Description</div>
                    <form method="post" class="card-link">
                        @if(User.Identity.IsAuthenticated && (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.fanfic.User_Id) || User.IsInRole("Admin")) {
                            <a asp-controller="Fanfic" class="card-link material-icons" asp-action="EditFanfic" asp-route-id="@Model.fanfic.Id">edit</a>

                        }
                        @if(User.Identity.IsAuthenticated) {
                            <input type="hidden" name="fanficId" value="@Model.fanfic.Id" />
                            <button type="submit" class="card-link material-icons button-hover" asp-action="AddFanficToFavourite" asp-controller="Fanfic">bookmark_add</button>
                        }
                    </form>
                </div>
            </div>
        </div>
        <h3>
            @Localizer["Chapters"]:</h3>
                <div class="chapters-block">
                    @foreach(Chapter c in Model.chapters) {
                        <form action="" method="post">
                            <div class="card" style="width: 48rem;">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        @Localizer["Chapter"] @c.Number: @c.Title
                                    </h4>

                                    @if(User.Identity.IsAuthenticated && (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.fanfic.User_Id) || User.IsInRole("Admin")) {
                                        <a asp-controller="Fanfic" asp-action="EditChapter" asp-route-id="@c.Id" class="material-icons card-link chapter-management__link">edit</a>
                                        <button type="submit" formaction="../RemoveChapter" class="material-icons button-hover card-link chapter-management__link">delete</button>
                                    }
                                    <a asp-controller="Fanfic" asp-action="ChapterDetails" asp-route-chapterId="@c.Id" class="material-icons button-hover card-link chapter-management__link">auto_stories</a>
                                    @if(User.Identity.IsAuthenticated && (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.fanfic.User_Id) || User.IsInRole("Admin")) {
                                        <button type="submit" formaction="../ChapterUp" class="material-icons button-hover card-link chapter-management__link">arrow_upward</button>
                                        <button type="submit" formaction="../ChapterDown" class="material-icons button-hover card-link chapter-management__link">arrow_downward</button>
                                    }
                                    <input type="hidden" name="id" value="@c.Id" />
                                </div>
                            </div>
                        </form>
                    }
                    @if(User.Identity.IsAuthenticated && (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.fanfic.User_Id) || User.IsInRole("Admin")) {
                        <a asp-controller="Fanfic" asp-action="AddChapter" class="material-icons chapter-add" asp-route-id="@Model.fanfic.Id">add_circle</a>
                    }
                <h3> @Localizer["Comments"]:</h3>

                    @foreach(Comment c in Model.comments) {
                        <div class="card" style="width: 48rem;">
                            <div class="card-body">
                                <h4 class="card-title">
                                    @Localizer["User"]
                                    @{string commentText = ""; }
                                    @if(!String.IsNullOrEmpty(c.User_Id)) {
                                        commentText = Model.users.FirstOrDefault(x => x.Id == c.User_Id && c.Fanfic_Id == Model.fanfic.Id).UserName;
                                    } else {
                                        commentText = "deleted";
                                    }
                                    @commentText
                                </h4>
                                <div class="card-text">
                                    <div class="fanfic-description">@c.Body</div>
                                </div>
                            </div>
                        </div>
                    }
                    @if(User.Identity.IsAuthenticated) {
                        <form method="post" class="comment-block">
                            <textarea name="text" class="comment-textarea"></textarea>
                            <input type="hidden" name="fanficId" value="@Model.fanfic.Id" />
                            <button type="submit" class="comment-button" formaction="../AddComment">@Localizer["Add"]</button>
                        </form>
                        <h3>@Localizer["Rate"]:</h3>
                        <form method="post" class="rating-block">
                            <label class="radio-inline"><input type="radio" class="radio-button" name="mark" value="1">1</label>
                            <label class="radio-inline"><input type="radio" class="radio-button" name="mark" value="2">2</label>
                            <label class="radio-inline"><input type="radio" class="radio-button" name="mark" value="3">3</label>
                            <label class="radio-inline"><input type="radio" class="radio-button" name="mark" value="4">4</label>
                            <label class="radio-inline"><input type="radio" class="radio-button" name="mark" value="5" checked>5</label>
                            <input type="hidden" name="fanficId" value="@Model.fanfic.Id" />
                            <button class="rating-button" formaction="../AddRating" type="submit">@Localizer["Rate"]</button>
                        </form>
                        <form method="post">
                        </form>
                    }
                </div>
</div>
</div>